.search {
    display: flex;
    justify-content: center;
    height: 576px;
    width: 1440px;
    background: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
}

.search__container {
    display: inherit;
    flex-direction: column;
    margin-top: 160px;
}

.search__title {
    height: 128px;
    width: 608px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}

.search__subtitle {
    width: 545px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search__field {
    position: relative;
    display: flex;
    align-items: center;
    width: 608px;
    height: 64px;
    border: 0;
    margin-top: 64px;
    padding: 0;
}

.search__string {
    outline: 0;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 21px 0 21px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.search__button {
    position: absolute;
    height: inherit;
    top: 0%;
    right: 0%;
    outline: 0;
    border: 0;
    padding: 0;
    width: 168px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}