.search {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png') no-repeat #FFFFFF center;
    background-size: cover;
}

.search__container {
    display: inherit;
    flex-direction: column;
    margin-top: 160px;
}

.search__title {
    height: 128px;
    width: 608px;
    margin: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}

.search__subtitle {
    width: 545px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 32px;
}

.search__field {
    position: relative;
    display: flex;
    align-items: center;
    width: 608px;
    height: 64px;
    border: 0;
    margin-top: 64px;
    padding: 0;
    margin-bottom: 80px;
}

.search__string {
    outline: 0;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 21px 0 21px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.search__button {
    position: absolute;
    height: inherit;
    top: 0%;
    right: calc(0% - 1px);
    outline: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 168px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    transition: background 0.3s linear;
}

.search__button:hover {
    background: #347EFF;
}

.search__button:focus {
    background: #2A65CC;
}

@media screen and (max-width: 900px) {
    .search__container {
        margin-top: 104px;
    }
    .search__title {
        width: 385px;
        height: 80px;
        font-size: 36px;
        line-height: 40px;
    }
    .search__subtitle {
        width: 452px;
        margin-top: 16px;
    }
    .search__field {
        width: 448px;
        height: 56px;
        margin: 48px auto;
    }
    .search__button {
        width: 160px;
    }
}

@media screen and (max-width: 500px) {
    .search__container {
        margin-top: 86px;
    }
    .search__title {
        font-size: 36px;
        line-height: 40px;
        height: 80px;
        width: 285px;
    }
    .search__subtitle {
        width: 288px;
    }
    .search__field {
        display: block;
        width: 288px;
        margin: 122px auto 104px;
    }
    .search__string {
        margin-bottom: 16px;
    }
    .search__button {
        position: static;
        width: 288px;
    }
}